<!DOCTYPE HTML>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ng-controller orderBy:name</title>
    <script src="js/angular/angular.js"></script>
    <script type="text/javascript">
        var bekkApp = angular.module('bekkApp', []);

        bekkApp.controller('TeamsCtrl', function($scope) {
            $scope.teams = [
                { name: 'Stabæk' },
                { name: 'RBK' },
                { name: 'Odd' }
            ];

           $scope.addTeam = function () {
              $scope.teams.push($scope.team);
              $scope.team = {};
           };
          });
    </script>
</head>
<body>

<div ng-app="bekkApp">
   <div ng-controller="TeamsCtrl">
      Filter: <input ng-model="search"/>
       <ul>
           <li ng-repeat="team in teams | orderBy:'name' | filter:search">
               {{team.name}}
           </li>
       </ul>
      <form ng-submit="addTeam()">
         <input ng-model="team.name"/>
         <input type="submit" value="Add"/>
      </form>


   </div>
</div>

</body>
</html>