<!DOCTYPE HTML>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ng-click</title>
    <script src="js/angular/angular.js"></script>
    <script type="text/javascript">
        var bekkApp = angular.module('bekkApp', []);

        bekkApp.controller('TeamsCtrl', function($scope) {

            $scope.teams = [];

            $scope.addTeam = function(team) {
                $scope.teams.push(team);
                $scope.team = {};
            }
          });
    </script>
</head>
<body>

<div ng-app="bekkApp">
    <ul ng-controller="TeamsCtrl">
        <li ng-repeat="team in teams">
            {{team.name}}
        </li>
        <input ng-model="team.name" />
        <button ng-click="addTeam(team)">Add</button>
    </ul>
</div>

</body>
</html>